main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 3px;
}

.service{
    line-height: 40%;
}

.service h2{
    color: #1e90ff;
}

.content{
    text-align: left;
}

.content #content_line{
    text-decoration: line-through;
}

.content .content_bold{
    font-weight: bold;
}

.content .content_word{
    word-spacing: 5px;
}

.content .content_letter{
    letter-spacing: 5px;
}