main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title{
    color: #1e90ff;
}

.hover:hover {
    background-color: #e6f7ff;
}

.hover p{
    opacity: 70%;
}

.para{
    font-size: larger;
}