main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: #1e90ff;
}

.input{
    border:1px solid;
    border-color: #1e90ff;
    padding: 10px;
}

button{
   background-color:#00bfff;
   color: white;
}
