*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
}

.title{
    text-align: center;
    color: #1e90ff;
}

.title_large{
    font-size: 18px;
}

header{
    line-height: 200%;
}